<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Sessions</title>
    <meta name="description" content="A session test.">
    <meta name="keywords" content="golang sessions">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="resources/assets/main.css" type="text/css">
    <link rel="shortcut icon" href="resources/assets/favicon.ico">
</head>
<body>
    {{template "content" .}}
    <h2>Click this link to navigate to a different page, then come back and see that the data is still there.</h2>
    <a href="/otherpage">CLICK ME</a>
    <br />
    <br />
    <br />
    <br />
    <br />
</body>
<footer>
    <a href="">GitHub Link</a>
</footer>
</html>